#card-marg {
    margin-top: 75px;
    margin-right: -40px;
    border-radius: 5%;
    height: 450px;
}

#card-hdr {
    font-size: x-large;
    margin-left: 12%;
    margin-top: 25px;
}

#textbox {
    margin-left: 45px;
}

#btnreg {
    background-color: #ff5757;
    margin-left: -126px;
    margin-top: 20px;
    width: 400px ;
    height: 50px;
    
}

.logo {
    margin-top: 50px;
    margin-right: 100px;
    
}

 #logo-container {
    margin-left: -120px;
}
