#card-marg {
    margin-top: 120px;
    margin-right: -40px;
    border-radius: 5%;
    height: 400px;
}

#card-hdr {
    border-radius: 5%;
    font-size: x-large;
    text-align: center;
    height: 50px;
}

.hdr {
    margin-top: 10px;
}

#textbox {
    margin-left: 35px;
}

#btnreg {
    background-color: #ff5757;
    margin-left: -150px;
    margin-top: 35px;
    width: 435px ;
    height: 45px;
    border-radius: 2%;
    
}

.logo {
    margin-top: 70px;
    margin-right: 170px;
    
}

 #logo-container {
    margin-left: -190px;
}
